.venv/
.hf_sync_venv/
.global_venv/
.data_venv/
.ap_venv/
.emotion_diarization_venv/
.speaker_diarization_venv/
.emb_venv/
.vp_venv/
.tp_venv/
.core_face_landmarks_venv/
.action_recognition_venv/
.fetcher_venv/

speechbrain/

.tmp/
backend/.e2e/

.env

__pycache__/
cache/
.cache/

DataProcessor/benchmarks/summary/
DataProcessor/embedding_service/faiss_indices/
DataProcessor/faiss_indices/
DataProcessor/scripts/sem_clust_v1/data_*
DataProcessor/scripts/sem_clust_v1/*.npy
DataProcessor/Segmenter/data/
DataProcessor/state/youtube/
DataProcessor/triton/models*
DataProcessor/VisualProcessor/core/model_process/core_identity/brand_semantics/known_brands/
DataProcessor/VisualProcessor/core/model_process/core_identity/brand_semantics/known_brands_auto/
DataProcessor/VisualProcessor/core/model_process/core_identity/car_semantics/known_cars/
DataProcessor/VisualProcessor/core/model_process/core_identity/content_domain/known_domains/
DataProcessor/VisualProcessor/core/model_process/core_identity/face_identity/known_people/
DataProcessor/VisualProcessor/modules/micro_emotion/OpenFace/
DataProcessor/VisualProcessor/state/
DataProcessor/VisualProcessor/result_store/
storage/embedding_faiss/

example/

bundled_models*
emonet
wav2vec2_checkpoint

dp_output/
dp_results/

*.png