{
  "client_key": "your_tiktok_client_key",
  "client_secret": "your_tiktok_client_secret",
  "access_token": "act.fqdZAoV9PmI8PSRFc6oWIEsNYTcAI23CPaRnwMpgRF4V436idaqYOBkOvElU!6085.s1",
  "open_id": "-0001-zjMQVPrZzNE92Dqx9SqiF6_Ug7-V82",
  "ms_token": "msToken_cookie_value_for_tiktokapi_sdk"
}

